* {
  margin: 0;
}

.App {
  background-color: rgba(245, 116, 116, 0.774);
  
}
.title {
  text-align: center;
  color: white;
  padding-bottom: 60px;

 }

 .side {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 60px;
 }

 .country {
  text-align: center;
  color: white;
  padding: 120px;
 }