.App {
    
    justify-content: center;
    background-color: rgb(1, 14, 39);
}

.ButtonPad {
    
    width: auto;
    font-size: 25px;
    display: grid;
    justify-content: center;
    padding: 5px;
    
    
}
.pad {
    padding: 100px;
    
}

.font{
    text-align: center;
}

.color {
    color: white;
}

.logo {
    justify-content: center;
    height: 200px;
    object-fit: contain;
    width: 400;
}